<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
  <head>
    <title>Av4vnstat</title>
    <link type="text/css" rel="stylesheet" href="resources/css/vnstat.css"/>
  </head>
  <body>
    <div id="mainContainer" ng-controller="RODU.av4vnstat.controller.MainController">
        <div id="header">
            <div id="logoContainer"><span id="logo">Av4vnstat</span><br/><span id="slug">Network traffic information</span></div>
            <div id="updateTimeContainer"><span id="updateTime">{{updateTimeText}}</span></div>
        </div>
        <div id="contents" ng-controller="RODU.av4vnstat.controller.SectionController">
            <div id="verticalTabContainer">
                <ul class="verticalTabList">
                    <li class="verticalTabItem"><a href="" ng-click="showHome()">Home</a></li>
                    <li class="verticalTabItem"><a href="" ng-click="showBasic()">Basic Data</a></li>
                    <li class="verticalTabItem"><a href="" ng-click="showAdvanced()">Advanced Monitoring</a></li>
                </ul>
            </div>
            <div id="chartsContents">
                <div id="home" class="{{section.home.visible}}">
                <p>This web interface allows you to visualize
                the data collected with vnstat - network traffic monitor -
                using a combination of different charts.</p>
                <p>On top right you can see the date for the last update
                done on the dataset used in this front end.<br/>
                You may want to run the Python script in order to update
                the dataset if you think it is is outdated by now.</p>
                <p>For more information refer to the README and SETUP.txt
                files that you should have received with the project files.</p>
                </div>
                <div id="basicDataCharts" class="chartsContainer {{section.basic.visible}}" ng-controller="RODU.av4vnstat.controller.BasicChartController">
                    <div id="basicTabContainer" class="topTabContainer">
                        <ul class="horizontalTabList">
                            <li class="horizontalTabItem"><a href="" ng-click="showHourlyChart()">Hourly data</a></li>
                            <li class="horizontalTabItem"><a href="" ng-click="showDailyChart()">Daily data</a></li>
                            <li class="horizontalTabItem"><a href="" ng-click="showMonthlyChart()">Monthly data</a></li>
                            <li class="horizontalTabItem"><a href="" ng-click="showTopTenChart()">Top Ten Days</a></li>
                        </ul>
                    </div>
                    <div id="basicChartContainer" class="chartContainer">
                        <div id="basicChartDescription" class="chartsDescription {{chart.description.visible}}">
                        <p>The Basic Data section shows the data as collected by
                        the basic vnStat functionalities.</p>
                        <p>In this section, traffic information is available on a
                        Hour, Day and Month basis. The top ten days data are also
                        shown.</p>
                        </div>
                        <div id="hourlyDataChart" class="chart {{chart.hourlyChart.visible}}"></div>
                        <div id="dailyDataChart" class="chart {{chart.dailyChart.visible}}"></div>
                        <div id="monthlyDataChart" class="smallMultiples {{chart.monthlyChart.visible}}"></div>
                        <div id="topTenDataChart" class="chart {{chart.topTenChart.visible}}"></div>
                    </div>
                </div>
                <div id="advancedMonitoringCharts" class="chartsContainer {{section.advanced.visible}}">
                    <div id="advancedTabContainer" class="topTabContainer"></div>
                    <div id="advancedChartContainer" class="chartContainer">
                        <div id="advancedChartDescription" class="chartsDescription">
                        <p>To be developed. Will show statistical data in order
                        to evaluate the remaining traffic available and the trend
                        of traffic over a period of time.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <span id="footerContent">Av4vnstat is <a href="https://github.com/Rodu/av4vnstat">released on GitHub</a> - For reading about the project see the <a href="https://github.com/rodu/av4vnstat/wiki">wiki page</a></span>
        </div>
    </div>
    <script data-main="js/main" src="js/lib/require-jquery.js"></script>
  </body>
</html>
