html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #44433f;
  font-family: helvetica, arial, verdana;
  font-size: 1em;
}

#mainContainer {
	width: 1000px;
    height: 100%;
    margin: 10px;
}

#header {
    height: 100px;
    border: solid 1px #AAAAAA;
    background-image: url('images/header_background.gif');
}

#logoContainer {
    height: 70px;
    padding-left:20px;
    padding-top: 5px;
}

#updateTimeContainer {
    height: 30px;
    width: 100%;
    text-align: right;
}

#updateTime {
    padding-right: 20px;
    padding-bottom: 10px;
    font-size:.8em;
    color: #dbd8cd;
    font-weight: bold;
}

#logo {
    font-size:2em;
    color: #dbd8cd;
}

#slug {
    font-size:.8em;
    color: #dbd8cd;
    font-style: italic;
    font-weight: bold;
}

#contents {
	float: left;
	width: 100%;
    background-color: #888784;
    margin-top: 10px;
    margin-bottom: 10px;
}

#chartsContents {
	width: 80%;
    float: left;
    background-color: #fde7e7;
}

#home {
    padding: 50px;
    height: 400px;
    background-color: #fde7e7;
}

.chartsContainer {
    display: none;
    height: 500px;
}

#verticalTabContainer {
    float: left;
    width: 20%;
    height: 100%;
    background-color: #888784;
}

.verticalTabList {
    list-style-type: none;
    line-height: 40px;
    margin: 0;
    padding: 0;
}

.horizontalTabList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 14px;
}

.horizontalTabItem {
    display: inline;
    margin-left: 20px;
}

.horizontalTabItem A {
    text-decoration: none;
}

.verticalTabItem {
    text-decoration: none;
}

.topTabContainer {
    width: 97%;
    height: 48px;
    background-color: #f39256;
    background-image: url('images/tabs_background.gif');
    padding-left: 3%;
}

.chartContainer {
    width: 97%;
    padding-left: 3%;
    padding-top: 50px;
}

.chart {
    width: 600px;
    height: 400px;
    display: none;
}

.smallMultiples {
	width: 650px;
	height: 100%;
	display: none;
}

.smallMultiplesTail {
    width: 200px;
    height: 200px;
    float: left;
    margin: 4px;
}

.smallMultiplesRow {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
	
#footer {
    clear: both;
    height: 30px;
    border: solid 1px #AAAAAA;
    background-color: #888784;
    text-align: right;
    padding-right: 20px;
    padding-top: 50px;
}

#footerContent {
    font-size:.8em;
    color: #DADADA;
}

#footerContent A {
    color: #DADADA;
}
